
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("Sukuna\ .webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}



h1{
font-family: Arial, sans-serif;
font-size: 32px;
justify-content: center;
align-items: center;
border-radius: 5px;
color: white;
background-image: linear-gradient(to right,mediumpurple,white );
margin-bottom: 4px;
}




.Text-box {
    
    border-radius: 15px;
    width: 350px;
    padding: 2px;
    max-height: 300px;
    margin-top: 295px;
   background-color: white;
   background-image: linear-gradient(to left, white,mediumpurple);
                                  
   
}

.messages  {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}


.Add-box {
    display: flex;
    margin-top: 10px;
  
}

.Add-button input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid whitesmoke;
}

.Add-button button {
    padding: 10px;
    border: none;
    background-color:mediumpurple;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    margin-top: 5px;
    text-decoration: none;
    transition: 0.2s;
    box-shadow: 0px 0px 5px mediumpurple, 0px 0px 25px white;
}
  .Add-button :hover{
    background-color: white;
    color: mediumpurple;
    box-shadow: 0px 0px 5px mediumpurple, 0px 0px 25px white,0px 0px 50px mediumpurple, 0px 0px 100px white, 0px 0px 200px mediumpurple;
  }

.delete-button {
    padding: 10px;
    border: none;
    background-color: mediumpurple;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3;
    box-shadow: 0px 0px 5px mediumpurple, 0px 0px 25px white;
}


.delete-button:hover{
  background-color: white;
  color: mediumpurple;
box-shadow: 0px 0px 5px mediumpurple, 0px 0px 25px white,0px 0px 50px mediumpurple, 0px 0px 100px white, 0px 0px 200px mediumpurple;
}

.complete-button {
  padding: 10px;
  border: none;
  background-color: mediumpurple;
  color: white;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.3;
  box-shadow: 0px 0px 5px mediumpurple, 0px 0px 25px white;
}


.complete-button:hover{
  background-color: white;
  color: mediumpurple;
box-shadow: 0px 0px 5px mediumpurple, 0px 0px 25px white,0px 0px 50px mediumpurple, 0px 0px 100px white, 0px 0px 200px mediumpurple;
}

.complete {
    text-decoration: line-through;
    color: black;
  
}

/* this was used to add the linear Gradient effect 
https://youtube.com/shorts/lz7B0wKXFxM?si=gqphn-CirZ0PLa-m 

this was used to add the glowing effect to the buttons 
https://youtube.com/shorts/FYIX7Kc5JRo?si=DrReqzpTRmsdat6G
*/
